[Unit]
Description=My FAILURE-143 watchdog service

[Service]
Type=oneshot
Type=simple
EnvironmentFile=/etc/sysconfig/watchdog_failure
ExecStart=/bin/bash /root/watchdog_failure.sh  $WORD $LOG
Restart=on-failure
RestartSec=10
SuccessExitStatus=143

